header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
  margin-left: 30px;
}
header.black {
  background-color: #141414;
}
.header--logo {
  height: 25px;
  margin-right: 25px;
}
.header--logo img {
  height: 100%;
}
.header--user {
  height: 35px;
  margin-right: 45px;
}
.header--user img {
  height: 80%;
  border-radius: 3px;
}
.header--menu {
  margin-left: 0;
  font-size: 14px;
  cursor: pointer;
}
.arrow {
  margin-top: -150px;
  cursor: pointer;
}
.notification--icon {
  margin-right: 25px;
  cursor: pointer;
}
.infantil {
  font-size: 14px;
  cursor: pointer;
}
.search--icon {
  margin-left: 1100px;
  cursor: pointer;
}
